<html>

<head>
    <title>Pokoje</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="rooms-css.css"> 
</head>

<body>
    <div class="mainContainer">
        <div class="topContainer">
            <div>
                <button id="nickButton"><%= locals.nick %> </button>
            </div>

            <% if ( locals.registered ){ %>
                <div>
                    <form method="POST" action="/logout">
                        <input type="submit" value="Wyloguj">
                    </form>
                </div>
                <% } %>

        </div>
        <div class="addRoomContainer">
            <% if ( locals.newRoomError ){ %>
                <div>
                    <span class="error">
                        <%= locals.newRoomError %>
                    </span>
                </div>
            <% } %>
            <form method="POST">
                <label>Nazwa pokoju:</label>
                <input type="text" name="name">
                <br>
                <label>Rodzaj gry:</label>
                <!-- <input type="text" name="type"> -->
                <%- include('./../templates/drop-down_list', {name:"type",options: locals.gamesType})  %> 
                <br>
                <label>Hasło (puste oznacza brak):</label>
                <input type="text" name="password">
                <br>
                <input type="submit" value="Stwórz pokój">
            </form>
        </div>
        <div class="roomsContainer">
            <% for (let room of locals.rooms ){ %>
                <a href="<%= room.getLink() %>">
                    <div class="roomContainer">
                        <div>
                            <%= room.getName() %>
                        </div>
                        <div>
                            <%= room.getGameName() %>
                        </div>
                        <div>
                            <%= room.presentPlayers() %> / <%= room.maxPlayers() %>
                        </div>
                        <div>
                            Hasło: <%= room.isPasswordRequired() ? "Wymagane" : "Brak" %>  %>
                        </div>
                    </div>
                </a>
                <% } %>
        </div><div class="statsContainer">
            statystki sprawdzenie
        </div>
    </div>
</body>

</html>
